//
//  Production.xcconfig
//  lendshake
//
//  Created by Uluk Abylbekov on 2/1/26.
//

// Configuration settings file format documentation can be found at:
// https://developer.apple.com/documentation/xcode/adding-a-build-configuration-file-to-your-project
APP_ENVIRONMENT = production
ALERT_WEBHOOK_URL =
